spring:
  application:
    name: mvp
  profiles:
    active: local
  config:
    import:
      - optional:file:.env[.properties]
  messages:
    basename: i18n/errors
    fallback-to-system-locale: false
  jpa:
    open-in-view: false

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}
  allowed-methods: ${CORS_ALLOWED_METHODS}
  allowed-headers: ${CORS_ALLOWED_HEADERS}
